  <div class="body">
    <div class="wrapper">
      <form class="login">
        <p class="title">Log in</p>
        <input type="text" placeholder="Nama Pengguna" autocomplete="off" autofocus/>
        <i class="fa fa-user"></i>
        <input type="password" placeholder="Kata Sandi" autocomplete="off" />
        <i class="fa fa-key"></i>
        <a href="#">Lupa kata sandi?</a>
        <button>
          <i class="spinner"></i>
          <span class="state">Masuk</span>
        </button>
      </form>
      <footer><p>&copy;2018 Teknologi Panda SID dikembangkan oleh <a href="https://www.puskomedia.id">PuskoMedia Indonesia Kreatif</a>.</p></footer>
    </div>
  </div>
