<div class="col-left">
  <img src="https://sid.panda.id/assets/images/logo/logo_login.png">
  <h1 class="login-panda">Log In</h1>
  <div class="login-box">
          <form class="form-box" method="POST" action="https://sid.panda.id/login/validate_login">
              <div class="padding-bottom-login">
                  <small>Butuh akun Panda SID? <a (click)="openURL(url)" href="#">Kontak kami</a></small>
              </div>
        <div class="form-group padding-bottom-login">
                  <!-- <label for="username">Nama Pengguna</label> -->
                  <input class="form-control form-control-login" type="text" id="username" name="username" placeholder="Nama Pengguna"/>
              </div>
              <div class="form-group uk-margin-top padding-bottom-login">
                  <!-- <label for="password">Kata Sandi</label> -->
                  <input class="form-control form-control-login" type="password" id="password" name="password" placeholder="Kata Sandi"/>
              </div>
              <div class="uk-margin-medium-bottom padding-bottom-login">
                  <small><a (click)="openURL(url)" href="#">Lupa Kata Sandi?</a></small>
              </div>
              <div class="uk-margin-medium-bottom padding-bottom-login">
                  <button type="submit" class="tombol">Masuk</button>
              </div>
              <div class="uk-margin-top">
                  <!-- <a href="#" id="login_help_show" class="uk-float-right">Need help?</a> -->
                  
                  <!-- <span class="icheck-inline">
                      <input type="checkbox" name="login_page_stay_signed" id="login_page_stay_signed" data-md-icheck />
                      <label for="login_page_stay_signed" class="inline-label">Tetap Masuk</label>
                  </span> -->
              </div>
              <div class="uk-margin-top">
                  <p class="paragraf"> ©2018. Teknologi Panda SID dikembangkan oleh PuskoMedia Indonesia Kreatif. Pelajari, <a href="#">Kebijakan Privasi</a>, dan <a href="#">Syarat Ketentuan Layanan.</a></p>
              </div>
          </form> 
  </div>
</div>
<div class="col-right">
  <div class="content">
    <h2>
      Katakan Halo ke Panda SID!
    </h2>
    <p>
      Panda SID membantu Anda mengelola desa dengan cara mudah. Nikmati banyak kemudahan dengan bantuan teknologi Panda. 
    </p>
    <a href="https://www.panda.id" class="tombol" role="button">Pelajari</a>
  </div>
</div>