/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

$color_1: #365899d4;
$color_2: #555;
$color_3: #ffffff;
$color_4: #484848;
$color_5: #999;
$font_family_1: Arial, Helvetica, sans-serif;
$background_color_1: white;
$background_color_2: #ffffff;
$background_color_3: initial;
$background_color_4: #fff;
$background_color_5: #ed5300;
$background_color_6: #f5161600;
$background_color_7: rgba(255,255,255,.2);

body {
	background-color: $background_color_1;
	margin: 0;
	font-family: $font_family_1;
	height: 100%;
}
img {
	display: block;
	max-width: 40%;
	height: auto;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
a {
	color: $color_1;
	text-decoration: none;
}
.form-control-login {
	border-radius: 3px !important;
	border: 2px solid #ccc !important;
	&:focus {
		border: 2px solid #52bad5 !important;
	}
}
.padding-bottom-login {
	padding-bottom: 0.7em;
}
small.padding-bottom-login {
	padding-bottom: 0.7em;
}
.col-left {
	width: 33%;
	height: 80vh;
	background-color: $background_color_2;
	float: left;
	padding: 2.855% 0;
}
.col-right {
	width: 67%;
	height: 100vh;
	float: right;
	background-image: url(../assets/img/panda-hero.jpg), linear-gradient(143deg,#279bd5 45%,#207bd6 95%);
	background-size: initial;
	background-position: top right;
	background-blend-mode: multiply;
	background-color: $background_color_3;
}
input.form-control {
	display: block;
	width: 95%;
	height: 34px;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: $color_2;
	background-color: $background_color_4;
	border-radius: 5px;
	background-image: none;
	border: 1px solid #ccc;
}
.login-box {
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 0 25px;
}
button.tombol {
	width: 101%;
	border-radius: 3px;
	padding: 10px;
	background-color: $background_color_5;
	color: $color_3;
	font-weight: 900;
	border: 1px solid transparent;
	cursor: pointer;
	font-size: larger;
	&:hover {
		background: #0c71c3 !important;
	}
}
.login-panda {
	font-weight: 600 !important;
	font-size: 32px !important;
	color: $color_4 !important;
	text-align: center !important;
	margin-bottom: 20px;
}
.content {
	padding: 50px;
	width: 60%;
	color: $color_3;
	line-height: 1.5em;
}
a.tombol {
	position: relative;
	border: 2px solid;
	border-radius: 5px;
	background-color: $background_color_6;
	color: $color_3;
	padding: 8px;
	font-size: 20px;
	text-decoration: none;
	&:hover {
		border: 2px solid transparent;
		background-color: $background_color_7;
		padding: 5px 5px 5px;
	}
}
p.paragraf {
	color: $color_5;
	bottom: 0;
	line-height: 1.3em;
	font-size: small;
}
@media (max-width: 700px) {
	.col-left {
		width: 100% !important;
	}
	.col-right {
		display: none;
	}
}
