<header id="header_main">
    <div class="header_main_content">
        <nav class="uk-navbar">
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav user_actions">
                    <li class="uk-hidden-small uk-hidden-medium"><a href="#" class="user_action_icon">Chat Facebook</a></li>
                    <li class="uk-hidden-small uk-hidden-medium"><a href="#" class="user_action_icon">Bantuan</a></li>
                    <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}" aria-haspopup="true" aria-expanded="false"><a [routerLink]="['/login']" class="user_action_image">Panda SID <img class="md-user-image" src="https://sid.panda.id/files/default.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<aside id="sidebar_main">
    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <a [routerLink]="['/home']" class="sSidebar_hide"><img class="logo-default"
                    src="https://sid.panda.id/assets/images/logo/logo.png">
                <div class="logo-text"></div>
            </a>
        </div>
    </div>
</aside>

<div id="page_content">
    <div id="page_content_inner">
        <h4 class="heading_a uk-margin-bottom">Pelayanan Surat</h4>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="container">
                        <a [routerLink]=" ['./suratktp'] ">
                            <i class="fa fa-envelope fa-4x" style="margin-bottom:10px"></i><br>
                            Surat Pengantar KTP
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>Jane Doe</b></h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>Jane Doe</b></h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>Jane Doe</b></h4> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>