<header id="header_main">
    <div class="header_main_content">
        <nav class="uk-navbar">
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav user_actions">
                    <li class="uk-hidden-small uk-hidden-medium"><a href="#" class="user_action_icon">Chat Facebook</a></li>
                    <li class="uk-hidden-small uk-hidden-medium"><a href="#" class="user_action_icon">Bantuan</a></li>
                    <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}" aria-haspopup="true" aria-expanded="false"><a [routerLink]="['/login']" class="user_action_image">Panda SID <img class="md-user-image" src="https://sid.panda.id/files/default.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<aside id="sidebar_main">
    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <a [routerLink]="['/home']" class="sSidebar_hide"><img class="logo-default"
                    src="https://sid.panda.id/assets/images/logo/logo.png">
                <div class="logo-text"></div>
            </a>
        </div>
    </div>
</aside>

<div id="page_content">
    <div id="page_content_inner">
        <h4 class="heading_a uk-margin-bottom">Pelayanan Surat Pengantar KTP</h4>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>