<header id="header_main">
  <div class="header_main_content">
      <nav class="uk-navbar">
                          
          <!-- main sidebar switch -->
          <a href="#" id="switch_left" class="sSwitch sSwitch_left" style="display: block;">
              <span class="sSwitchIcon"></span>
          </a>
          <!-- <div id="menu_top_dropdown" class="uk-float-left" style="padding:12px 0px">
              <h4 class="md-color-grey-50">
                                      </h4>
          </div> -->
          <div class="uk-navbar-flip">
              <ul class="uk-navbar-nav user_actions">
                  <li class="uk-hidden-small uk-hidden-medium"><a href="http://m.me/puskomedia.id" target="_blank" class="user_action_icon"><i class="material-icons md-24 md-light">comment</i> Chat Facebook</a></li>
                  <li class="uk-hidden-small uk-hidden-medium"><a href="https://puskomedia.id/bantuan/" target="_blank" class="user_action_icon"><i class="material-icons md-24 md-light">launch</i> Bantuan</a></li>
                  <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}" aria-haspopup="true" aria-expanded="false" class="">
                      <a href="#" class="user_action_image">Desa Contoh <img class="md-user-image" src="https://sid.panda.id/files/logo_desa/default.jpg" alt=""></a>
                      <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom" style="min-width: 160px; top: 47px; left: -11px;">
                          <ul class="uk-nav js-uk-prevent">
                              <li><a href="https://sid.panda.id/profil/view">Profil</a></li>
                              <li><a href="https://sid.panda.id/akun/editPassword">Ubah Kata Sandi</a></li>
                              <li class="uk-hidden-large"><a href="http://m.me/puskomedia.id">Chat Facebook</a></li>
                              <li class="uk-hidden-large"><a href="https://puskomedia.id/bantuan/">Bantuan</a></li>
                              <li><a href="https://sid.panda.id/login/logout">Logout</a></li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
  <div class="header_main_search_form">
      <i class="md-icon header_main_search_close material-icons"></i>
      <form class="uk-form">
          <input type="text" class="header_main_search_input">
          <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons"></i></button>
      </form>
  </div>
</header>