
#header_main {
	background: #279BD5;
	transition: margin 280ms;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 0 25px;
	height: 48px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1104;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
		content: " ";
		display: table;
	}
}
#page_content {
	transition: margin 280ms;
}
#top_bar {
	transition: margin 280ms;
}
